{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}
    {% if edit %}
        Update
    {% else %}
        Creation
    {% endif %}
{% endblock %}

{% block body %}
<main>

  {% if edit %}
      <h3 class="pb-3">Edit an article</h3>
  {% else %}
      <h3 class="pb-3">Create a new article</h3>
  {% endif %}
{{ form_start(form) }}
    
  {{ form_row(form.title, {'label': "Title", 'attr': {'placeholder': "Article Title"}}) }}
  {{ form_row(form.content, {'label': "Article content", 'attr': {'placeholder': "Content", 'rows': "4"}}) }}
  {{ form_row(form.cover, {'label': "Article Cover"}) }}

  <div class="mt-5 text-right">
    {% if edit %}
        <button type="submit" class="btn btn-warning mr-1">Edit</button> 
    {% else %}
        <button type="submit" class="btn btn-success mr-1">Create</button>
    {% endif %}
    
    <button type="reset" class="btn btn-secondary">Annuler</button>
</div>
{{ form_end(form) }}
</main>
{% endblock %}