{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<main>
    <button class="button-orange"><a href="{{ path('app_blog') }}">Retour</a></button>
    <div class="article-container">
        <article class="article-card-xl">
            <div class="article-card-header">
                <img src="/images/article_cover/{{ article.cover }}" alt="article cover"/>
            </div>
            <div class="article-card-body">
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
            </div>
            <span>Publié le {{ article.createdAt | date("d/m/Y H:i:s") }}</span>
        </article>
</main>
{% endblock %}